.astronaut-image {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 10%;
    transform: translate(-50%, -50%);
    animation: move 30s linear infinite, rotate 30s linear infinite;
  }
  
  @keyframes move {
    from {
      top: 35%;
      left: 35%;
    }
    to {
      top: 75%;
      left: 75%;
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(90deg);
    }
  }
  