.logo {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 18rem; 
    width: 25vw;
    animation: zoomIn 5s ease-out forwards;
    }

    @keyframes zoomIn {
        from {
          transform: scale(1);
        }
        to {
          transform: scale(3);
        }
    }